# Unity generated folders (safe to exclude)
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/

# Ignore temporary files
ExportedObj/
*.tmp
*.suo
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db

# Ignore system files
.DS_Store
*.swp
*.meta~*

# Ignore Visual Studio and Rider files
.vs/
.gradle/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb.meta

# Ignore packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Don't exclude the following critical Unity folders
!Assets/
!ProjectSettings/
!Packages/
